In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
customer = pd.read_csv('C:/Users/krist/Downloads/리그2/리그2/2_cus_info.csv')

In [29]:
act = pd.read_csv('C:/Users/krist/Downloads/리그2/리그2/2_act_info.csv')

In [4]:
iem = pd.read_csv('C:/Users/krist/Downloads/리그2/리그2/2_iem_info.csv')

In [5]:
trd_kr = pd.read_csv('C:/Users/krist/Downloads/리그2/리그2/2_trd_kr.csv')

In [6]:
trd_oss = pd.read_csv('C:/Users/krist/Downloads/리그2/리그2/2_trd_oss.csv')

In [8]:
customer

,cus_id,sex_dit_cd,cus_age,zip_ctp_cd,tco_cus_grd_cd,ivs_icn_cd
0,1eec7e43dd6ea34d6be7a9484459e4db1a2da44c5bf311...,2,20,29,04,-
1,7e50c268acce884b1a5b78c9b5645b517c4639413c6dc4...,2,0,41,09,-
2,36d3cd293c4b02a00103fa1ba33ffbee176173a55df75b...,1,70,27,03,-
3,96b6dea03dc71d9ddb1462e06fdba23def1ddc838debf7...,1,70,41,09,-
4,034eb5406bd021a9a88f046e33765efd5b3cd190b39538...,1,70,11,05,-
...,...,...,...,...,...,...
9995,214df7b2a183c8c11b57289537897b7b456d38a222a5ef...,2,35,48,04,03
9996,4d4e0c6c802058822d61622ae2b3e39471fa2a87152035...,2,35,41,09,-
9997,347190a59df83bbf2d87888915b95cd5b5c52fb781a45e...,2,35,11,09,-
9998,3ae218361d32511eec17e92b139f048ec2613ff6d56ac9...,1,35,31,05,-
9999,7bdea48b84cc322b3ef7d0b934d505afd467e11879571f...,1,35,48,09,-

In [8]:
customer.groupby(customer['cus_age']).count()

         cus_id  sex_dit_cd  zip_ctp_cd  tco_cus_grd_cd  ivs_icn_cd
cus_age
0           212         212         212             212         212
20          348         348         348             348         348
25          906         906         906             906         906
30          957         957         957             957         957
35         1207        1207        1207            1207        1207
40         1302        1302        1302            1302        1302
45         1496        1496        1496            1496        1496
50         1272        1272        1272            1272        1272
55          987         987         987             987         987
60          647         647         647             647         647
65          312         312         312             312         312
70          354         354         354             354         354

In [7]:
customer.groupby(customer['tco_cus_grd_cd']).count()

                cus_id  sex_dit_cd  cus_age  zip_ctp_cd  ivs_icn_cd
tco_cus_grd_cd
01                 185         185      185         185         185
02                 447         447      447         447         447
03                1261        1261     1261        1261        1261
04                2182        2182     2182        2182        2182
05                2477        2477     2477        2477        2477
09                2810        2810     2810        2810        2810
_                  638         638      638         638         638

In [9]:
act

,act_id,cus_id,act_opn_ym
0,8e1a987ebef2a3374ba558aeda4c7821de7808a11cfea1...,892f41b5002a79c9c93992acf60682f5698372aea023bd...,197912
1,eb161b66263589c3f38efd2277cec2a9a81e1ffa0a5255...,006ad32069efb2a8ce1a99542dfe41cb14e8e75685278a...,198702
2,01866857515304e9e1315e54863cc1108e1d46fff0d467...,1925ed2d8ed2cad53997f5b24722482137c4d1da4b555e...,199109
3,63a58b0fee2fa4dc467c043fde465846b65705659497c5...,7829365dc463ed8275c8b92518d58b3c8d983f00f7bf87...,199401
4,b563fb76d3d432d67198f194701ca67e895da4c2f24e8e...,36e05dde058cf7531bd4001ed3b976ef9562a9ecd9f43d...,199404
...,...,...,...
23954,83a634e16d41723f45abb7171d2720b9ec31c0bb7614a5...,f8f5f2a45565e6db2b4c6def8298c9bb865bbee85216d3...,201012
23955,fcc666cfa3def2e7023eaf1e28f39f0cb357d8cb9ec9f2...,484d70977d68defc52a7b800e098846c04829388217375...,200909
23956,4bf846f46e7c0b8547a2e04caf6573976eb621156f3032...,0931f895fe62bcdf3918b0ad6271c76d4f1934ff0e36eb...,201201
23957,bdb499007eb246137859668816eebddde9bfeb3efaec8e...,24653394d720670b49b1146b2793481bdca7aa7a84d11c...,199712
23958,3e5168a7d5ec0efd23f240bd5d9530e4285ff9e661e81c...,de85269c18672536604fd60cb06a616ab9dab4dafb804c...,200203

In [24]:
act.dtypes

act_id        object
cus_id        object
act_opn_ym     int64
dtype: object

In [36]:
act['act_opn_ym'] = act.act_opn_ym.astype(str)

In [41]:
act['year'] = act['act_opn_ym'].str[0:4]

In [49]:
act['month'] = act.act_opn_ym.str.slice(-2)

In [50]:
act.head()

,act_id,cus_id,act_opn_ym,year,month
0,8e1a987ebef2a3374ba558aeda4c7821de7808a11cfea1...,892f41b5002a79c9c93992acf60682f5698372aea023bd...,197912,1979,12
1,eb161b66263589c3f38efd2277cec2a9a81e1ffa0a5255...,006ad32069efb2a8ce1a99542dfe41cb14e8e75685278a...,198702,1987,02
2,01866857515304e9e1315e54863cc1108e1d46fff0d467...,1925ed2d8ed2cad53997f5b24722482137c4d1da4b555e...,199109,1991,09
3,63a58b0fee2fa4dc467c043fde465846b65705659497c5...,7829365dc463ed8275c8b92518d58b3c8d983f00f7bf87...,199401,1994,01
4,b563fb76d3d432d67198f194701ca67e895da4c2f24e8e...,36e05dde058cf7531bd4001ed3b976ef9562a9ecd9f43d...,199404,1994,04

In [10]:
iem

,iem_cd,iem_eng_nm,iem_krl_nm
0,A000060,Meritz Fire & Marine Insurance ...,메리츠화재해상보험보통주 ...
1,A000120,CJ LOGISTICS ...,씨제이대한통운보통주 ...
2,A000540,HeungkukFire&MarineInsurance ...,흥국화재해상보험보통주 ...
3,A00088K,HANWHA(3PB) ...,한화3우선주(신형) ...
4,A000950,Chonbang ...,전방보통주 ...
...,...,...,...
4680,US9839191015,Xilinx ...,자일링스 ...
4681,US9884981013,Yum! Brands ...,염! 브랜즈 ...
4682,VGG4095T1075,Greenland Tech ...,Greenland Tech ...
4683,VN000000SHB9,Sahabank ...,Sahabank ...
4684,VN000000SPP2,Saplastic ...,Saplastic ...

In [56]:
iem['type'] = iem.iem_krl_nm.str.slice(-2,-1)

In [57]:
iem.head()

,iem_cd,iem_eng_nm,iem_krl_nm,type
0,A000060,Meritz Fire & Marine Insurance ...,메리츠화재해상보험보통주 ...,
1,A000120,CJ LOGISTICS ...,씨제이대한통운보통주 ...,
2,A000540,HeungkukFire&MarineInsurance ...,흥국화재해상보험보통주 ...,
3,A00088K,HANWHA(3PB) ...,한화3우선주(신형) ...,
4,A000950,Chonbang ...,전방보통주 ...,

In [11]:
trd_kr

,act_id,orr_dt,orr_ord,orr_rtn_hur,lst_cns_hur,iem_cd,sby_dit_cd,cns_qty,orr_pr,orr_mdi_dit_cd
0,6caf4de40251d37cbba310f0c6dd0ed8f4c7ca4ccfa675...,20190102,1,12,13,A215600,2,35.0,74200.0,3
1,6caf4de40251d37cbba310f0c6dd0ed8f4c7ca4ccfa675...,20190102,2,12,12,A001060,2,20.0,41100.0,3
2,effb34815e1b7efb34beb550f604ede8ac71a5a71edb30...,20190102,1,14,14,A281820,2,20.0,9460.0,4
3,fea6c038cb7236a02d1e779262698a36219b4c9b527ab1...,20190102,1,12,12,A006650,2,1.0,148500.0,3
4,fea6c038cb7236a02d1e779262698a36219b4c9b527ab1...,20190102,2,12,13,A051360,2,10.0,6550.0,3
...,...,...,...,...,...,...,...,...,...,...
3312659,a96172625957ac18f6debba0c3283f1aa4608c1d19a404...,20200630,2,13,13,A900250,1,1.0,1760.0,3
3312660,a96172625957ac18f6debba0c3283f1aa4608c1d19a404...,20200630,3,16,16,A011930,2,2.0,1340.0,3
3312661,c8d469612160df7251dd5d434ca25b0b8e2f40ace9a37f...,20200630,1,11,11,A019175,2,35.0,44000.0,3
3312662,1a046249ad088f30dae8038eb95d51427f10228677d4fb...,20200630,1,16,16,A037950,1,400.0,1810.0,4
3312663,1a046249ad088f30dae8038eb95d51427f10228677d4fb...,20200630,2,16,16,A353200,2,100.0,7740.0,4

In [49]:
trd_kr.info

<bound method DataFrame.info of                                                     act_id    orr_dt  orr_ord  \
0        6caf4de40251d37cbba310f0c6dd0ed8f4c7ca4ccfa675...  20190102        1
1        6caf4de40251d37cbba310f0c6dd0ed8f4c7ca4ccfa675...  20190102        2
2        effb34815e1b7efb34beb550f604ede8ac71a5a71edb30...  20190102        1
3        fea6c038cb7236a02d1e779262698a36219b4c9b527ab1...  20190102        1
4        fea6c038cb7236a02d1e779262698a36219b4c9b527ab1...  20190102        2
...                                                    ...       ...      ...
3312659  a96172625957ac18f6debba0c3283f1aa4608c1d19a404...  20200630        2
3312660  a96172625957ac18f6debba0c3283f1aa4608c1d19a404...  20200630        3
3312661  c8d469612160df7251dd5d434ca25b0b8e2f40ace9a37f...  20200630        1
3312662  1a046249ad088f30dae8038eb95d51427f10228677d4fb...  20200630        1
3312663  1a046249ad088f30dae8038eb95d51427f10228677d4fb...  20200630        2

         orr_rtn_hur  lst_cns_hur        iem_cd  sby_dit_cd  cns_qty  \
0                 12           13  A215600                2     35.0
1                 12           12  A001060                2     20.0
2                 14           14  A281820                2     20.0
3                 12           12  A006650                2      1.0
4                 12           13  A051360                2     10.0
...              ...          ...           ...         ...      ...
3312659           13           13  A900250                1      1.0
3312660           16           16  A011930                2      2.0
3312661           11           11  A019175                2     35.0
3312662           16           16  A037950                1    400.0
3312663           16           16  A353200                2    100.0

           orr_pr  orr_mdi_dit_cd
0         74200.0               3
1         41100.0               3
2          9460.0               4
3        148500.0               3
4          6550.0               3
...           ...             ...
3312659    1760.0               3
3312660    1340.0               3
3312661   44000.0               3
3312662    1810.0               4
3312663    7740.0               4

[3312664 rows x 10 columns]>

In [12]:
trd_oss

,act_id,orr_dt,orr_ord,orr_rtn_hur,lst_cns_hur,iem_cd,sby_dit_cd,cns_qty,orr_pr,orr_mdi_dit_cd,cur_cd,trd_cur_xcg_rt
0,12c2bf5b4929fa3cb8b8aa7b45c0d000f7e3b868621b5b...,20190102,1,14,14,CNE100001526,2,100.0,49.1500,3,CNY,162.55
1,f51b1d8b13186e30aee7a407e235eb87b6b84ed85ca7a4...,20190102,1,1,1,US0378331005,2,10.0,157.6000,3,USD,1118.10
2,f51b1d8b13186e30aee7a407e235eb87b6b84ed85ca7a4...,20190102,2,1,1,US7561091049,2,2.0,61.9399,3,USD,1118.10
3,37bc7b62e55f0cf8402a1f86dc8d09b09a3028bb13afa6...,20190103,1,2,3,US9229083632,2,3.0,225.0000,3,USD,1119.00
4,e340482168a2154b323ec2b9a0d003d840590ddafb0e2b...,20190103,1,0,0,US74347X8314,1,6.0,34.5000,3,USD,1119.00
...,...,...,...,...,...,...,...,...,...,...,...,...
29296,3f17959c32c50ee64012a5344fb3e6b1ba038963b89ca8...,20200630,1,1,1,US88160R1014,1,2.0,1080.8800,3,USD,1200.70
29297,3f17959c32c50ee64012a5344fb3e6b1ba038963b89ca8...,20200630,2,1,1,US88160R1014,2,1.0,1080.0000,3,USD,1200.70
29298,3f17959c32c50ee64012a5344fb3e6b1ba038963b89ca8...,20200630,3,3,3,US88160R1014,2,1.0,1083.0000,3,USD,1200.70
29299,3f17959c32c50ee64012a5344fb3e6b1ba038963b89ca8...,20200630,4,23,23,US88160R1014,1,2.0,1040.5600,3,USD,1200.70
29300,df6a314d9ef943cdb66a308a37362c492d2b8ecdfcec82...,20200630,1,23,2,US4510332038,2,100.0,2.1500,3,USD,1200.70

In [52]:
trd_oss['cns_qty'].groupby([trd_oss['orr_dt'],trd_oss['cur_cd']]).mean()

orr_dt    cur_cd
20190102  CNY        100.000000
          HKD        600.000000
          USD          6.000000
20190103  USD          4.500000
          VND        230.000000
                       ...
20200630  EUR         15.000000
          HKD       2000.000000
          IDR       1900.000000
          JPY        800.000000
          USD         56.930348
Name: cns_qty, Length: 868, dtype: float64

In [59]:
!pip install -U pandas_profiling
import pandas_profiling

Requirement already up-to-date: pandas_profiling in c:\users\krist\anaconda3\lib\site-packages (2.9.0)
Requirement already satisfied, skipping upgrade: attrs>=19.3.0 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (19.3.0)
Requirement already satisfied, skipping upgrade: ipywidgets>=7.5.1 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (7.5.1)
Requirement already satisfied, skipping upgrade: tangled-up-in-unicode>=0.0.6 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (0.0.6)
Requirement already satisfied, skipping upgrade: missingno>=0.4.2 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (0.4.2)
Requirement already satisfied, skipping upgrade: seaborn>=0.10.1 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (0.10.1)
Requirement already satisfied, skipping upgrade: numpy>=1.16.0 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (1.18.5)
Requirement already satisfied, skipping upgrade: confuse>=1.0.0 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (1.4.0)
Requirement already satisfied, skipping upgrade: jinja2>=2.11.1 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (2.11.2)
Requirement already satisfied, skipping upgrade: phik>=0.9.10 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: joblib in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (0.16.0)
Requirement already satisfied, skipping upgrade: htmlmin>=0.1.12 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied, skipping upgrade: requests>=2.23.0 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (2.24.0)
Requirement already satisfied, skipping upgrade: tqdm>=4.43.0 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (4.47.0)
Requirement already satisfied, skipping upgrade: scipy>=1.4.1 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (1.5.0)
Requirement already satisfied, skipping upgrade: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (1.0.5)
Requirement already satisfied, skipping upgrade: visions[type_image_path]==0.5.0 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (0.5.0)
Requirement already satisfied, skipping upgrade: matplotlib>=3.2.0 in c:\users\krist\anaconda3\lib\site-packages (from pandas_profiling) (3.2.2)
Requirement already satisfied, skipping upgrade: widgetsnbextension~=3.5.0 in c:\users\krist\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (3.5.1)
Requirement already satisfied, skipping upgrade: ipython>=4.0.0; python_version >= "3.3" in c:\users\krist\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (7.16.1)
Requirement already satisfied, skipping upgrade: nbformat>=4.2.0 in c:\users\krist\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.0.7)
Requirement already satisfied, skipping upgrade: traitlets>=4.3.1 in c:\users\krist\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (4.3.3)
Requirement already satisfied, skipping upgrade: ipykernel>=4.5.1 in c:\users\krist\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.3.2)
Requirement already satisfied, skipping upgrade: pyyaml in c:\users\krist\anaconda3\lib\site-packages (from confuse>=1.0.0->pandas_profiling) (5.3.1)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\krist\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas_profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: numba>=0.38.1 in c:\users\krist\anaconda3\lib\site-packages (from phik>=0.9.10->pandas_profiling) (0.49.1)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\krist\anaconda3\lib\site-packages (from requests>=2.23.0->pandas_profiling) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\krist\anaconda3\lib\site-packages (from requests>=2.23.0->pandas_profiling) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\krist\anaconda3\lib\site-packages (from requests>=2.23.0->pandas_profiling) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\krist\anaconda3\lib\site-packages (from requests>=2.23.0->pandas_profiling) (1.25.9)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\krist\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2020.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\krist\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2.8.1)
Requirement already satisfied, skipping upgrade: networkx>=2.4 in c:\users\krist\anaconda3\lib\site-packages (from visions[type_image_path]==0.5.0->pandas_profiling) (2.4)
Requirement already satisfied, skipping upgrade: imagehash; extra == "type_image_path" in c:\users\krist\anaconda3\lib\site-packages (from visions[type_image_path]==0.5.0->pandas_profiling) (4.2.0)
Requirement already satisfied, skipping upgrade: Pillow; extra == "type_image_path" in c:\users\krist\anaconda3\lib\site-packages (from visions[type_image_path]==0.5.0->pandas_profiling) (7.2.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\krist\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in c:\users\krist\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.2.0)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in c:\users\krist\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: notebook>=4.4.1 in c:\users\krist\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (6.0.3)
Requirement already satisfied, skipping upgrade: pickleshare in c:\users\krist\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.7.5)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in c:\users\krist\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (49.2.0.post20200714)
Requirement already satisfied, skipping upgrade: colorama; sys_platform == "win32" in c:\users\krist\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.4.3)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in c:\users\krist\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.17.1)
Requirement already satisfied, skipping upgrade: pygments in c:\users\krist\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (2.6.1)
Requirement already satisfied, skipping upgrade: backcall in c:\users\krist\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.2.0)
Requirement already satisfied, skipping upgrade: decorator in c:\users\krist\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (4.4.2)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\krist\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (3.0.5)
Requirement already satisfied, skipping upgrade: jupyter-core in c:\users\krist\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (4.6.3)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in c:\users\krist\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (3.2.0)
Requirement already satisfied, skipping upgrade: ipython-genutils in c:\users\krist\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (0.2.0)
Requirement already satisfied, skipping upgrade: six in c:\users\krist\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas_profiling) (1.15.0)
Requirement already satisfied, skipping upgrade: tornado>=4.2 in c:\users\krist\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (6.0.4)
Requirement already satisfied, skipping upgrade: jupyter-client in c:\users\krist\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (6.1.6)
Requirement already satisfied, skipping upgrade: llvmlite<=0.33.0.dev0,>=0.31.0.dev0 in c:\users\krist\anaconda3\lib\site-packages (from numba>=0.38.1->phik>=0.9.10->pandas_profiling) (0.32.1)
Requirement already satisfied, skipping upgrade: PyWavelets in c:\users\krist\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.5.0->pandas_profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: terminado>=0.8.1 in c:\users\krist\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.3)
Requirement already satisfied, skipping upgrade: prometheus-client in c:\users\krist\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.0)
Requirement already satisfied, skipping upgrade: nbconvert in c:\users\krist\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (5.6.1)
Requirement already satisfied, skipping upgrade: pyzmq>=17 in c:\users\krist\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (19.0.1)
Requirement already satisfied, skipping upgrade: Send2Trash in c:\users\krist\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.5.0)
Requirement already satisfied, skipping upgrade: parso<0.8.0,>=0.7.0 in c:\users\krist\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.7.0)
Requirement already satisfied, skipping upgrade: wcwidth in c:\users\krist\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.2.5)
Requirement already satisfied, skipping upgrade: pywin32>=1.0; sys_platform == "win32" in c:\users\krist\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (227)
Requirement already satisfied, skipping upgrade: pyrsistent>=0.14.0 in c:\users\krist\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (0.16.0)
Requirement already satisfied, skipping upgrade: testpath in c:\users\krist\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.4.4)
Requirement already satisfied, skipping upgrade: defusedxml in c:\users\krist\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.6.0)
Requirement already satisfied, skipping upgrade: bleach in c:\users\krist\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (3.1.5)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in c:\users\krist\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.3)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in c:\users\krist\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.4.2)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in c:\users\krist\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.4)
Requirement already satisfied, skipping upgrade: webencodings in c:\users\krist\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.5.1)
Requirement already satisfied, skipping upgrade: packaging in c:\users\krist\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (20.4)

In [58]:
import pandas_profiling as pp

In [23]:
ppr = pp.ProfileReport(customer)

In [25]:
ppr.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [60]:
ppr=pp.ProfileReport(trd_oss)

In [61]:
ppr.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=26.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…