<a href="https://colab.research.google.com/github/krista0618/krista/blob/krista/Students_Alcohol_Consumption_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

In [7]:
pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,13,13,13
367,MS,F,17,R,GT3,T,1,1,other,services,...,5,2,1,1,2,1,0,7,6,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,services,services,...,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,health,other,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 3. Assign it to a variable called df.

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [21]:
df[['school','sex','address','famsize','Pstatus','Medu','Fedu','Mjob','Fjob','reason', 'guardian']]

,school,sex,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,U,GT3,T,4,2,health,services,home,mother
4,GP,F,U,GT3,T,3,3,other,other,home,father
5,GP,M,U,LE3,T,4,3,services,other,reputation,mother
6,GP,M,U,LE3,T,2,2,other,other,home,mother
7,GP,F,U,GT3,A,4,4,other,teacher,home,mother
8,GP,M,U,LE3,A,3,2,services,other,home,mother
9,GP,M,U,GT3,T,3,4,other,other,home,mother
10,GP,F,U,GT3,T,4,4,teacher,health,reputation,mother
11,GP,F,U,GT3,T,2,1,services,other,reputation,father
12,GP,M,U,LE3,T,4,4,health,services,course,father
13,GP,M,U,GT3,T,4,3,teacher,other,course,mother
14,GP,M,U,GT3,A,2,2,other,other,home,other
15,GP,F,U,GT3,T,4,4,health,other,home,mother
16,GP,F,U,GT3,T,4,4,services,services,reputation,mother
17,GP,F,U,GT3,T,3,3,other,other,reputation,mother
18,GP,M,U,GT3,T,3,2,services,services,course,mother
19,GP,M,U,LE3,T,4,3,health,other,home,father
20,GP,M,U,GT3,T,4,3,teacher,other,reputation,mother
21,GP,M,U,GT3,T,4,4,health,health,other,father
22,GP,M,U,LE3,T,4,2,teacher,other,course,mother
23,GP,M,U,LE3,T,2,2,other,other,reputation,mother
24,GP,F,R,GT3,T,2,4,services,health,course,mother
25,GP,F,U,GT3,T,2,2,services,services,home,mother
26,GP,M,U,GT3,T,2,2,other,other,home,mother
27,GP,M,U,GT3,T,4,2,health,services,other,mother
28,GP,M,U,LE3,A,3,4,services,other,home,mother
29,GP,M,U,GT3,T,4,4,teacher,teacher,home,mother
...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,R,GT3,T,1,3,at_home,other,course,mother
366,MS,M,U,LE3,T,4,4,teacher,services,other,mother
367,MS,F,R,GT3,T,1,1,other,services,reputation,mother
368,MS,F,U,GT3,T,2,3,at_home,services,course,father
369,MS,F,R,GT3,T,4,4,other,teacher,other,father
370,MS,F,U,LE3,T,3,2,services,services,home,other
371,MS,M,R,LE3,T,1,2,at_home,services,other,father
372,MS,F,U,GT3,T,2,2,other,at_home,home,mother
373,MS,F,R,GT3,T,1,2,other,other,course,mother
374,MS,F,R,LE3,T,4,4,other,other,reputation,mother
375,MS,F,R,GT3,T,1,1,other,other,home,mother
376,MS,F,U,GT3,T,4,2,health,other,course,other
377,MS,F,R,LE3,T,4,4,teacher,services,course,mother
378,MS,F,U,GT3,T,3,3,other,other,home,mother
379,MS,F,R,GT3,T,3,1,at_home,other,reputation,mother
380,MS,M,U,GT3,T,4,4,teacher,teacher,home,father
381,MS,M,R,GT3,T,2,1,other,other,other,mother
382,MS,M,U,GT3,T,2,3,other,services,home,father
383,MS,M,R,GT3,T,1,1,other,services,other,mother
384,MS,M,R,GT3,T,4,2,other,other,home,father
385,MS,F,R,GT3,T,2,2,at_home,other,other,mother
386,MS,F,R,GT3,T,4,4,teacher,at_home,reputation,mother
387,MS,F,R,GT3,T,2,3,services,other,course,mother
388,MS,F,U,LE3,T,3,1,teacher,services,course,mother
389,MS,F,U,GT3,T,1,1,other,other,course,mother
390,MS,M,U,LE3,A,2,2,services,services,course,other
391,MS,M,U,LE3,T,3,1,services,services,course,mother
392,MS,M,R,GT3,T,1,1,other,other,course,other
393,MS,M,R,LE3,T,3,2,services,other,course,mother
394,MS,M,U,LE3,T,1,1,other,at_home,course,father

### Step 5. Create a lambda function that capitalize strings.

In [28]:
Cap = lambda x:x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [30]:
df['Mjob'].apply(Cap)
df['Fjob'].apply(Cap)

0       Teacher
1         Other
2         Other
3      Services
4         Other
5         Other
6         Other
7       Teacher
8         Other
9         Other
10       Health
11        Other
12     Services
13        Other
14        Other
15        Other
16     Services
17        Other
18     Services
19        Other
20        Other
21       Health
22        Other
23        Other
24       Health
25     Services
26        Other
27     Services
28        Other
29      Teacher
         ...
365       Other
366    Services
367    Services
368    Services
369     Teacher
370    Services
371    Services
372     At_home
373       Other
374       Other
375       Other
376       Other
377    Services
378       Other
379       Other
380     Teacher
381       Other
382    Services
383    Services
384       Other
385       Other
386     At_home
387       Other
388    Services
389       Other
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

### Step 7. Print the last elements of the data set.

In [32]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [34]:
df['Mjob'] = df['Mjob'].apply(Cap)
df['Fjob'] = df['Fjob'].apply(Cap)
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,Services,Services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,Services,Services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,Other,Other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,Services,Other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,Other,At_home,...,3,2,3,3,3,5,5,8,9,9

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [41]:
def majority(x):
  if x>17:
    return True
  else:
    return False

df['legal_drinker'] = df['age'].apply(majority)

TypeError: ignored

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [46]:
def multiple10(x):
  if type(x) == int:
    return x*10
    return x 
df.applymap(multiple10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,None,None,180,None,None,None,40,40,None,None,...,30,40,10,10,30,60,50,60,60,None
1,None,None,170,None,None,None,10,10,None,None,...,30,30,10,10,30,40,50,50,60,None
2,None,None,150,None,None,None,10,10,None,None,...,30,20,20,30,30,100,70,80,100,None
3,None,None,150,None,None,None,40,20,None,None,...,20,20,10,10,50,20,150,140,150,None
4,None,None,160,None,None,None,30,30,None,None,...,30,20,10,20,50,40,60,100,100,None
5,None,None,160,None,None,None,40,30,None,None,...,40,20,10,20,50,100,150,150,150,None
6,None,None,160,None,None,None,20,20,None,None,...,40,40,10,10,30,0,120,120,110,None
7,None,None,170,None,None,None,40,40,None,None,...,10,40,10,10,10,60,60,50,60,None
8,None,None,150,None,None,None,30,20,None,None,...,20,20,10,10,10,0,160,180,190,None
9,None,None,150,None,None,None,30,40,None,None,...,50,10,10,10,50,0,140,150,150,None
10,None,None,150,None,None,None,40,40,None,None,...,30,30,10,20,20,0,100,80,90,None
11,None,None,150,None,None,None,20,10,None,None,...,20,20,10,10,40,40,100,120,120,None
12,None,None,150,None,None,None,40,40,None,None,...,30,30,10,30,50,20,140,140,140,None
13,None,None,150,None,None,None,40,30,None,None,...,40,30,10,20,30,20,100,100,110,None
14,None,None,150,None,None,None,20,20,None,None,...,50,20,10,10,30,0,140,160,160,None
15,None,None,160,None,None,None,40,40,None,None,...,40,40,10,20,20,40,140,140,140,None
16,None,None,160,None,None,None,40,40,None,None,...,20,30,10,20,20,60,130,140,140,None
17,None,None,160,None,None,None,30,30,None,None,...,30,20,10,10,40,40,80,100,100,None
18,None,None,170,None,None,None,30,20,None,None,...,50,50,20,40,50,160,60,50,50,None
19,None,None,160,None,None,None,40,30,None,None,...,10,30,10,30,50,40,80,100,100,None
20,None,None,150,None,None,None,40,30,None,None,...,40,10,10,10,10,0,130,140,150,None
21,None,None,150,None,None,None,40,40,None,None,...,40,20,10,10,50,0,120,150,150,None
22,None,None,160,None,None,None,40,20,None,None,...,50,10,10,30,50,20,150,150,160,None
23,None,None,160,None,None,None,20,20,None,None,...,40,40,20,40,50,0,130,130,120,None
24,None,None,150,None,None,None,20,40,None,None,...,30,20,10,10,50,20,100,90,80,None
25,None,None,160,None,None,None,20,20,None,None,...,20,20,10,30,50,140,60,90,80,None
26,None,None,150,None,None,None,20,20,None,None,...,20,20,10,20,50,20,120,120,110,None
27,None,None,150,None,None,None,40,20,None,None,...,20,40,20,40,10,40,150,160,150,None
28,None,None,160,None,None,None,30,40,None,None,...,30,30,10,10,50,40,110,110,110,None
29,None,None,160,None,None,None,40,40,None,None,...,40,50,50,50,50,160,100,120,110,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,None,None,180,None,None,None,10,30,None,None,...,30,40,20,40,30,40,100,100,100,None
366,None,None,180,None,None,None,40,40,None,None,...,20,20,20,20,50,0,130,130,130,None
367,None,None,170,None,None,None,10,10,None,None,...,20,10,10,20,10,0,70,60,0,None
368,None,None,180,None,None,None,20,30,None,None,...,20,30,10,20,40,0,110,100,100,None
369,None,None,180,None,None,None,40,40,None,None,...,20,20,40,20,50,100,140,120,110,None
370,None,None,190,None,None,None,30,20,None,None,...,20,20,10,10,30,40,70,70,90,None
371,None,None,180,None,None,None,10,20,None,None,...,30,30,20,30,30,30,140,120,120,None
372,None,None,170,None,None,None,20,20,None,None,...,40,30,10,10,30,80,130,110,110,None
373,None,None,170,None,None,None,10,20,None,None,...,50,50,10,30,10,140,60,50,50,None
374,None,None,180,None,None,None,40,40,None,None,...,40,40,10,10,10,0,190,180,190,None
375,None,None,180,None,None,None,10,10,None,None,...,30,20,10,20,40,20,80,80,100,None
376,None,None,200,None,None,None,40,20,None,None,...,40,30,10,10,30,40,150,140,150,None
377,None,None,180,None,None,None,40,40,None,None,...,40,30,30,40,20,40,80,90,100,None
378,None,None,180,None,None,None,30,30,None,None,...,10,30,10,20,10,0,150,150,150,None
379,None,None,170,None,None,None,30,10,None,None,...,50,40,20,30,10,170,100,100,100,None
380,None,None,180,None,None,None,40,40,None,None,...,20,40,10,40,20,40,150,140,140,None
381,None,None,180,None,None,None,20,10,None,None,...,40,30,10,30,50,50,70,60,70,None
382,None,None,170,None,None,None,20,30,None,None,...,40,30,10,10,30,20,110,110,100,None
383,None,None,190,None,None,None,10,10,None,None,...,30,20,10,30,50,0,60,50,0,None
384,None,None,180,None,None,None,40,20,None,None,...,40,30,40,30,30,140,60,50,50,None
385,None,None,180,None,None,None,20,20,None,None,...,30,30,10,30,40,20,100,90,100,None
386,None,None,180,None,None,None,40,40,None,None,...,40,30,20,20,50,70,60,50,60,None
387,None,None,190,None,None,None,20,30,None,None,...,40,20,10,20,50,0,70,50,0,None
388,None,None,180,None,None,None,30,10,None,None,...,30,40,10,10,10,0,70,90,80,None
389,None,None,180,None,None,None,10,10,None,None,...,10,10,10,10,50,0,60,50,0,None
390,None,None,200,None,None,None,20,20,None,None,...,50,40,40,50,40,110,90,90,90,None
391,None,None,170,None,None,None,30,10,None,None,...,40,50,30,40,20,30,140,160,160,None
392,None,None,210,None,None,None,10,10,None,None,...,50,30,30,30,30,30,100,80,70,None
393,None,None,180,None,None,None,30,20,None,None,...,40,10,30,40,50,0,110,120,100,None
394,None,None,190,None,None,None,10,10,None,None,...,20,30,30,30,50,50,80,90,90,None